name: Release Build
on:
  push:
    tags: ["v*"]

jobs:
  build:
    name: Build Tagged Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: gradle/actions/wrapper-validation@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '21'

      - uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}

      - name: Build JAR
        # We use the tag name (minus the 'v') to set the version dynamically
        run: ./gradlew build -Pmod_version="${{ github.ref_name }}" --stacktrace --no-daemon

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          # This names the zip file on GitHub "radial-v1.0.0"
          name: radial-${{ github.ref_name }}
          path: build/libs/!(*-sources.jar|*-dev.jar)
          if-no-files-found: error